

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.main-header{
  background: #2B2B2B;
  height: 14vh;
  width: 100vw;
}

main {
  background: #EFEFEF;
  height: 86vh;
  width: 100vw;
}

.logo-admin {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

nav {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.branding {
  width: 14vw;
  height: 30;
}

.paint-logo {
  height: 6vh;
  width: 6vh;
}

.company-name {
  color: #FFFFFF;
  font-size: 4vh;
}




/* triange color: #29B4FA */
/* font color in heading: 90909 */